{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block
content %}

<div class="row">
  <div class="col-md-12">
    <h2 class="text-xl my-8">{{board.name}}</h2>
    {% if board.lists %}
    <ul class="flex flex-row -mx-4">
      {% for currentlist in board.lists %}
      <li class="m-4">
        <h3 class="mb-2">{{currentlist.name}}</h3>
        {% if currentlist.cards %}
        <ul>
          {% for card in currentlist.cards %}
          <li class="border rounded p-4 mb-2"
            ><h4>{{card.name}}</h4>
            <div>
              <ul>
                {% for destinationlist in board.lists %} {% if destinationlist
                != currentlist %}
                <li>
                  <form
                    method="post"
                    action="/card/{{card.id}}/list/{{destinationlist.id}}"
                  >
                    <button
                      class="bg-green-400 text-white text-xs rounded px-1 py-0.5"
                      type="submit"
                      >Move to {{destinationlist.name}}</button
                    >
                  </form>
                </li>
                {% endif %} {% endfor %}
              </ul>
            </div></li
          >
          {% endfor %}
        </ul>
        {% else %}
        <p class="text-xs text-gray-500">No cards found</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No lists found</p>
    {% endif %}
  </div>
</div>
{% endblock %}
