{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block
content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>{{board.name}}</h2>
    {% if board.lists %}
    <ul>
      {% for list in board.lists %}
      <li>
        <h3>{{list.name}}</h3>
        {% if list.cards %}
        <ul>
          {% for card in list.cards %}
          <li>{{card.name}}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No cards found</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No lists found</p>
    {% endif %}
  </div>
</div>
{% endblock %}
