{% extends "layout.html" %} {% block title %}To-Do App{% endblock %} {% block
content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>{{board.name}}</h2>
    {% if board.lists %}
    <ul>
      {% for currentlist in board.lists %}
      <li>
        <h3>{{currentlist.name}}</h3>
        {% if currentlist.cards %}
        <ul>
          {% for card in currentlist.cards %}
          <li
            ><h4>{{card.name}}</h4>
            <div>
              <ul>
                {% for destinationlist in board.lists %} {% if destinationlist
                != currentlist %}
                <li>
                  <form
                    method="post"
                    action="/card/{{card.id}}/list/{{destinationlist.id}}"
                  >
                    <button type="submit"
                      >Move to {{destinationlist.name}}</button
                    >
                  </form>
                </li>
                {% endif %} {% endfor %}
              </ul>
            </div></li
          >
          {% endfor %}
        </ul>
        {% else %}
        <p>No cards found</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No lists found</p>
    {% endif %}
  </div>
</div>
{% endblock %}
